<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!--<property name="connection.url">jdbc:mysql://localhost:3306/blog</property>-->
        <!--<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>-->
        <property name="current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

        <mapping resource="conf/hibernate/hbm/blog/blogArticlesEntity.hbm.xml"/>
        <mapping class="com.jim.api.entities.blog.blogArticlesEntity"/>
        <mapping resource="conf/hibernate/hbm/blog/blogArticlesMetadataEntity.hbm.xml"/>
        <mapping class="com.jim.api.entities.blog.blogArticlesMetadataEntity"/>
        <mapping resource="conf/hibernate/hbm/blog/blogCommentsEntity.hbm.xml"/>
        <mapping class="com.jim.api.entities.blog.blogCommentsEntity"/>
        <mapping resource="conf/hibernate/hbm/blog/blogCommentsMetadataEntity.hbm.xml"/>
        <mapping class="com.jim.api.entities.blog.blogCommentsMetadataEntity"/>
        <mapping resource="conf/hibernate/hbm/blog/blogMigrationsEntity.hbm.xml"/>
        <mapping class="com.jim.api.entities.blog.blogMigrationsEntity"/>
        <mapping resource="conf/hibernate/hbm/blog/blogRolesEntity.hbm.xml"/>
        <mapping class="com.jim.api.entities.blog.blogRolesEntity"/>
        <!--<mapping resource="conf/hibernate/hbm/blog/blogSessionsEntity.hbm.xml"/>-->
        <!--<mapping class="com.jim.api.entities.blog.blogSessionsEntity"/>-->
        <mapping resource="conf/hibernate/hbm/blog/blogUserMetaEntity.hbm.xml"/>
        <mapping class="com.jim.api.entities.blog.blogUserMetaEntity"/>
        <mapping resource="conf/hibernate/hbm/blog/blogUserRoleEntity.hbm.xml"/>
        <mapping class="com.jim.api.entities.blog.blogUserRoleEntity"/>
        <mapping resource="conf/hibernate/hbm/blog/blogUsersEntity.hbm.xml"/>
        <mapping class="com.jim.api.entities.blog.blogUsersEntity"/>
        <mapping resource="conf/hibernate/hbm/blog/blogUsersMetadataEntity.hbm.xml"/>
        <mapping class="com.jim.api.entities.blog.blogUsersMetadataEntity"/>
    </session-factory>
</hibernate-configuration>